# =========================================
# Build artifacts
# =========================================
target/
data-pipelines/target/
*.class
*.jar
*.log

# =========================================
# Local data (raw, bronze, silver, gold)
# =========================================
data-pipelines/data/**
!data-pipelines/data/.gitkeep    # keep folder structure

# =========================================
# IDE / system files
# =========================================
.vscode/
.idea/
*.iml
.DS_Store

# =========================================
# sbt / scala cache
# =========================================
project/target/
project/project/
metals.sbt
.metals/
.bloop/
.scala-build/
.cache/