# Scala / sbt build
# =====================================================
target/
project/target/
project/project/
.metals/
.vscode/
.idea/
*.log

# =====================================================
# Spark output & data
# =====================================================
# Ignore all real data
data/
!data/.keep

# =====================================================
# Docker & build cache
# =====================================================
*.jar
*.class
*.log
*.tmp
*.swp
*.iml
.DS_Store
logs/
out/
.cache/
.history/
dist/
bin/

# =====================================================
# OS-specific
# =====================================================
Thumbs.db
.DS_Store